{% extends "base.html" %}
{% load static %}
<html>
<head>
    {% block title %}
    تغییر کلمه عبور  | {{ block.super }}
    {% endblock title %}
</head>
{% block content %}
{% if message_good %}
<h4 class="msg_good msg">{{message_good}}</h4>
{% else %}
{% endif %}
{% if message_bad %}
<h4 class="msg_bad msg">{{message_bad}}</h4>
{% else %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    <input type="password" name="password" placeholder="رمز قدیمی">
    <br>
    <br>
    <input type="password" name="new_password" placeholder="رمز جدید">
    <br>
    <br>
    <input type="password" name="new_password_valid" placeholder="رمز جدید تایید">
    <br>
    <br>
    <button type="submit">Save changes</button>
</form>
{% endblock %}
</html>