{% load i18n %}{% autoescape off %}
{{full_name}} عزیز 
{% blocktranslate %}شما این ایمیل را دریافت کردید به دلیل در خواست تغییر کلمه عبور{{ site_name }}.{% endblocktranslate %}

{% translate "لطفا وارد لینک زیر شوید تا کلمه عبور را تغییر دهید!" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'نام کاربری شما:' %} {{ user.get_username }}

{% translate "سپاس بابت استفاده از پلتفرم ما" %}

{% blocktranslate %}The {{ en_site_name }} team{% endblocktranslate %}

{% endautoescape %}
