{% extends 'base.html' %} 
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>کلمه عبور جدید</h1>
  <h6 style="width: 60%; margin: 0 auto">
    لطفا کلمه عبور جدید را وارد کنید
  </h6>
</div>
<br>
<br>
{% if message_good %}
<h4 class="msg_good msg">{{message_good}}</h4>
{% else %}
{% endif %}
{% if message_bad %}
<h4 class="msg_bad msg">{{message_bad}}</h4>
{% else %}
{% endif %}
<br>
<br>
    <form method="POST">
      {% csrf_token %}
      <input type="password" id="new_password1" name="new_password1" placeholder="رمز جدید">
      <br>
      <br>
      <input type="password" id="new_password2" name="new_password2" placeholder="تایید رمز جدید">
      <br>
      <br>
      <input type="submit" value="تغییر کلمه عبور"/>
    </form> 
</form>

{% endblock%}