{% extends 'base.html' %} 
{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>بازیابی رمز عبور</h1>
  <h3>
    رمز عبور خود را فراموش کرده ای لطفا ایمیلی که برای ثبت نام استفاده کرده ای را وارد کنید
  </h3>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  <div class="form-group">
    <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
    <input type="email" name="email" id="email" placeholder="ایمیل" required/>
  </div>
  <input type="submit" value="ارسال" /><br>
</form><br/>
<div class="text-center">
</div>

{% endblock%}
