<html>
  {% extends "base.html" %}
  {% load static %}
<head>
      {% block title %}
      نهایی کردن خرید  | {{ block.super }}
      {% endblock title %}
</head>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <style>
      #checkoutMethods {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        max-height: 700px;
        margin: 1rem;
        position: relative;
        width: 700px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      }
    </style>
</head>

{% block content %}
<body>
    <div class="container">
    <section>
      <div class="row" id="tablerow">
      <div class="col-md-8 col-xs-12">
        <table class="table">
          <tr>
            <td><h4>خلاصه خرید</h4></td>
          </tr>
          <tr>
            <td>
              {% for item in order.get_cart_items %}
                <tr>
                  <td>{{ item.product.product_model }}</td>
                  <td> تومان{{ item.product.product_price }}</td>
                </tr>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td><strong>Order Total</strong> </td>
            <td> <strong>تومان{{ order.get_cart_total }}</strong></td>
          </tr>
        </table>
        <a href="/payment/request/"><button onclick="toggleDisplay();" class="btn btn-warning" style="width: 100%;">نهایی کردن خرید</button></a>
      </div>
     </div>
    </section>
    <br>
    <br>
<!-- script for the stripe form -->
<script src="{% static 'js/checkout.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>

<!-- script for toggling display of the form -->
<script type="text/javascript">
    function toggleDisplay() {
      var x = document.getElementById("collapseStripe");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
    };
</script>

</body>
{% endblock %}
</html>
